.todoCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid black;
  padding: 5px;

  &__text {
    border: none;
  }

  &__delete {
    background: transparent;
    border: 1px solid black;
  }
}
